@model IEnumerable<VacaYAY.ViewModels.IndexEmployeeViewModel>

@{
    ViewBag.Title = "Active";
}

<h2>Active</h2>

<p>
    @Html.ActionLink("All employees", "Index") <span> | </span>
    @Html.ActionLink("Inactive employees", "Inactive")
    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
    {
        <span class="pull-right">
            @Html.ActionLink("Create New Employee", "Register")
        </span>
    }
</p>

<table class="table table-responsive">
    <tr class="requests-top-row">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentVacationDays)
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentVacationDays)
            </td>
            @if (item.Contracts.Count > 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Contracts.Last().StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contracts.Last().EndDate)
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>
