@model VacaYAY.ViewModels.DetailsRequestViewModel

<div>
    <h4>Request Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @if (User.IsInRole("Manager"))
        {
            @Html.ActionLink(linkText: "" + Model.Employee.Name + " " + Model.Employee.LastName, actionName: "Details", controllerName: "Employees", routeValues: new { id = Model.Employee.EmployeeID }, htmlAttributes: null)
    }
    else
    {
        <p>@Model.Employee.Name @Model.Employee.LastName</p>
}
        </dd>

        @if (Model.collectiveEmployees.Count > 0)
    {
        <dt>
            Employees on vacation
        </dt>

        <dd>
            @foreach (var item in Model.collectiveEmployees)
        {
            if (User.IsInRole("Manager"))
            {
                @Html.ActionLink(item.Name, "Details", "Employees", new { id = item.EmployeeID })
        }
        else
        {
            @item.Name
    }
    <span> </span>
}
        </dd>
}
    </dl>
    <h5><strong>Comments</strong></h5>
    @if (Model.Comments.Count > 0)
    {
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Comments[0].TimeStamp)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Comments[0].Text)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.Comments[0].Commenter.Name)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Comments[0].Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td>
                            @String.Format("{0:HH:mm dd/MM/yyyy}", item.TimeStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @if (User.IsInRole("Manager"))
                            {
                                <a href="~/Employees/Details/@item.Commenter.EmployeeID">
                                    @item.Commenter.Name @item.Commenter.LastName
                                    @if (item.Commenter.IsManager)
                                    {
                                        <i class="fa fa-user-secret"></i>
                                    }
                                </a>
                            }
                            else
                            {
                                <p>
                                    @item.Commenter.Name @item.Commenter.LastName
                                    @if (item.Commenter.IsManager)
                                    {
                                        <i class="fa fa-user-secret"></i>
                                    }
                                </p>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
