@model VacaYAY.Entities.ExtraDaysAditions.ExtraDaysAdition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExtraDaysAdition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExtraDaysAditionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
